.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-secondary-light);
        height: 40px;
        border-radius: var(--border-radius-sm);
    }

    ::-webkit-scrollbar-track {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container {
        max-width: 1100px;
        width: 90%;
        background-color: var(--color-secondary);
        border-radius: 15px;
        box-shadow: 0px 0px 2px 0px var(--color-secondary-light);
        padding: 0;

        .content {
            display: flex;
            justify-content: space-between;
        }
    }

    .main {
        width: 900px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
        max-height: 500px;
        overflow-y: hidden;
        padding: 20px;
        background-color: #222222;
        border-radius: 15px;
        margin: 5px;

        .messages_list {
            overflow-y: scroll;
            flex: 1 1 100%;
            order: 1;
        }
    }
}
